.header {
  width: auto;
  display: flex;
  position: relative;
  /* background: linear-gradient(var(--bg-primary),var(--shadow),rgb(31, 27, 27), var(--bg-primary)); */
  /* border: 4px solid yellow; */

  /* background: url(/Components/ronaldo_portugal_1.jpg);
  animation: appear;
  animation-duration: 10s; */
}

.background_header {
  animation: appear;
  animation-duration: 10s;
  z-index: -1;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100vh;


  background-color: rgba(0, 0, 0, 0.5);

}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shiny_text {
  z-index: 6;
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  /* border: 4px solid green; */

  font-size: 100px;
  font-weight: 900;

  color: rgba(255, 145, 0, 0.668);
  background: #222 -webkit-gradient(
      linear,
      left top,
      right top,
      from(#222),
      to(#222),
      color-stop(0.5, #ffd555)
    ) 0 0 no-repeat;

  background-image: linear-gradient(
    -40deg,
    transparent 0%,
    transparent 40%,
    #ffd555 50%,
    transparent 60%,
    transparent 100%
  );
  background-clip: text;
  background-size: 500px;
  text-shadow: var(--shadow);


  animation: shine;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* Cần fix với việc thu phóng màn hình -> Animation lỗi */
@keyframes shine {
  0% {
    background-position: -150px;
  }
  100% {
    background-position: 1200px;
  }
}

.description_header {
  z-index: 1;
  position: absolute;
  bottom: 3%;
  width: 100%;
  text-align: center;

  color: var(--font-color-2);

  font-size: 20px;
  font-weight: 900;
}

/* Chưa đồng bộ khi thu phóng màn hình -> Thêm media hoặc chuyển toàn bộ về Grid */
/* Chắc là bỏ idea này ha, nhìn xấu vcl */
.ronaldo_header_1 {
  z-index: 0;
  position: absolute;
  bottom: 10%;
  right: 12%;
  border: 4px solid red;
}

.ronaldo_header_2 {
  z-index: 1;
  position: absolute;
  bottom: 5%;
  left: 5%;
  border: 4px solid blue;
  rotate: -10deg;
}

.ronaldo_header_3 {
  z-index: 2;
  position: absolute;
  bottom: 0%;
  left: 10%;
  border: 4px solid rgb(0, 255, 17);
}
  
  