.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-out;
    user-select: none;
    touch-action: pan-x;
}

.slide {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-scrollbar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.scroll-indicator {
    width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.scroll-indicator.active {
    width: 20px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .custom-scrollbar {
        bottom: 10px;
    }

    .scroll-indicator {
        width: 8px;
        height: 8px;
    }

    .scroll-indicator.active {
        width: 16px;
    }
}

@media (max-width: 480px) {
    .slide video {
        object-fit: contain; /* Chỉnh nhỏ hơn nếu cần */
    }
}

.description_highlights
{
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 3%;
    color: #ff671f;
    font-size: 40px;
    font-weight: bold;
}